Th_ng_b_o_v_ng_h_c.json
{
  "name": "Thông báo vắng học",
  "nodes": [
    {
      "parameters": {
        "formTitle": " ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false
            },
            {
              "fieldLabel": "Buổi",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "customCss": ":root {\n  /* Typography */\n  --font-family: 'Open Sans', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n\n  --font-size-body: 13px;\n  --font-size-label: 14px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n  --font-size-subheader: 15px;\n  --font-size-paragraph: 14px;\n  --font-size-link: 13px;\n  --font-size-error: 13px;\n  --font-size-test-notice: 13px;\n\n  --font-size-html-h1: 30px;\n  --font-size-html-h2: 22px;\n  --font-size-html-h3: 18px;\n  --font-size-html-h4: 15px;\n  --font-size-html-h5: 13px;\n  --font-size-html-h6: 11px;\n\n  /* Colors - Chủ đạo */\n  --color-primary: #d90429;         /* Đỏ tinh tế hơn */\n  --color-secondary: #2b2d42;       /* Xanh đen hiện đại */\n\n  /* Colors - Nền và khối */\n  --color-background: linear-gradient(to bottom right, #111827, #ff6d5a);\n  --color-card-bg: #ffffff;\n  --color-card-border: #e0e0e0;\n  --color-card-shadow: rgba(0, 0, 0, 0.08);\n\n  /* Colors - Văn bản */\n  --color-header: #2b2d42;\n  --color-header-subtext: #6c757d;\n  --color-label: #343a40;\n  --color-input-text: #495057;\n  --color-link: #2b2d42;\n  --color-html-text: #212529;\n  --color-html-link: var(--color-primary);\n  --color-required: var(--color-primary);\n\n  /* Colors - Form */\n  --color-input-border: #ced4da;\n  --color-focus-border: var(--color-primary);\n  --color-submit-btn-bg: var(--color-primary);\n  --color-submit-btn-hover-bg: #b00320;\n  --color-submit-btn-text: #ffffff;\n  --color-clear-button-bg: #6c757d;\n\n  /* Colors - Thông báo */\n  --color-test-notice-text: #e69500;\n  --color-test-notice-bg: #fff8e1;\n  --color-test-notice-border: #ffd54f;\n  --color-error: #dc3545;\n\n  /* Border Radii */\n  --border-radius-card: 10px;\n  --border-radius-input: 6px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 10px;\n\n  /* Spacing */\n  --padding-container-top: 32px;\n  --padding-card: 24px;\n  --padding-form-input: 12px;\n  --padding-test-notice-horizontal: 24px;\n  --padding-test-notice-vertical: 12px;\n  --margin-bottom-card: 20px;\n  --card-padding: 24px;\n  --card-margin-bottom: 20px;\n\n  /* Dimensions */\n  --container-width: 480px;\n  --submit-btn-height: 48px;\n  --checkbox-size: 20px;\n\n  /* Others */\n  --box-shadow-card: 0px 4px 20px rgba(0, 0, 0, 0.08);\n  --opacity-placeholder: 0.6;\n  --transition-default: all 0.3s ease-in-out;\n}\n"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -620,
        -420
      ],
      "id": "9959a424-4e57-4b13-a60f-8ea0a297a44a",
      "name": "On form submission",
      "webhookId": "cb494435-e0ef-4a58-b0a9-eec4ba2150e1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -420,
        -440
      ],
      "id": "d2d8d39a-890d-42f3-a892-39b43e84b6b6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\n// Tìm vị trí dòng header (dòng có \"STT\")\nconst headerIndex = data.findIndex(item => item.json.__EMPTY && item.json.__EMPTY.includes('STT'));\n\nif (headerIndex === -1) {\n  return []; // Không tìm thấy header\n}\n\n// Lấy thông tin môn học từ dòng có \"Môn học\"\nconst subjectItem = data.find(item => item.json.__EMPTY && item.json.__EMPTY.startsWith('Môn học:'));\nconst subject = subjectItem ? subjectItem.json.__EMPTY.replace('Môn học: ', '') : '';\n\n// Lấy số buổi từ node \"On form submission\"\nconst buoi = $('On form submission').first().json['Buổi']; // ví dụ: 1, 2, 3, ...\n\nif (!buoi || isNaN(buoi)) {\n  return []; // Không hợp lệ\n}\n\n// Xác định key tương ứng với session, ví dụ buổi 1 -> __EMPTY_5, buổi 2 -> __EMPTY_6, v.v.\nconst sessionColumnIndex = 4 + buoi; // vì Session 1 bắt đầu từ __EMPTY_5\n\nconst sessionKey = `__EMPTY_${sessionColumnIndex}`;\n\n// Lọc danh sách sinh viên vắng\nconst result = [];\n\nfor (let i = headerIndex + 1; i < data.length; i++) {\n  const item = data[i].json;\n\n  if (!item.__EMPTY_1) continue; // Không có mã số sinh viên thì bỏ qua\n\n  const status = item[sessionKey];\n  const isAbsent = status === '0' || status === 0;\n\n  if (isAbsent) {\n    result.push({\n      monHoc: subject,\n      maSoSinhVien: item.__EMPTY_1,\n      hoVaTen: (item.__EMPTY_2 || '') + ' ' + (item.__EMPTY_3 || '')\n    });\n  }\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -300
      ],
      "id": "c0b37286-e304-4a40-ace0-7da0e387ed26",
      "name": "Code"
    },
    {
      "parameters": {
        "threadId": "={{ $json.ThreadID }}",
        "message": "=THÔNG BÁO ĐẾN QUÝ PHỤ HUYNH\nSinh vien  {{ $('Code').item.json.hoVaTen }}  đã vắng học môn {{ $('Code').item.json.monHoc }}",
        "quote": {},
        "mentions": {}
      },
      "type": "n8n-nodes-zalo-tools.zaloSendMessage",
      "typeVersion": 4,
      "position": [
        920,
        -220
      ],
      "id": "d74410b2-7c39-4705-92fd-0c8f74d1c8a4",
      "name": "Zalo Send Message",
      "credentials": {
        "zaloApi": {
          "id": "xqOLW1kok5UYNF8E",
          "name": "Zalo API Credentials DVSV"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1U74FF9WpmhJ1q5y0UDG2ePzXC28Wz8wbIUbjtyHBiE8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U74FF9WpmhJ1q5y0UDG2ePzXC28Wz8wbIUbjtyHBiE8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "MSSV",
              "lookupValue": "={{ $json.maSoSinhVien }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        -280
      ],
      "id": "a012bae0-6dd8-4e1f-8906-9221c9951135",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "jrnmCX9iSYKgqCVP",
          "name": "serviceAccount"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        60,
        -340
      ],
      "id": "c6bef893-4958-4e6c-99cd-6c5d4e00b0ce",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5549d609-1065-468f-87f6-ab5399fc6e34",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -300
      ],
      "id": "81359d4a-f792-4be5-9ae8-36b7255af0fd",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tKKYwmJgCLiWYTZdfHMUzHLK7LczHbkVJPfnSmQ3Qmg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKKYwmJgCLiWYTZdfHMUzHLK7LczHbkVJPfnSmQ3Qmg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MSSV": "={{ $('Loop Over Items').item.json.maSoSinhVien }}",
            "Họ và Tên": "={{ $('Loop Over Items').item.json.hoVaTen }}"
          },
          "matchingColumns": [
            "MSSV"
          ],
          "schema": [
            {
              "id": "MSSV",
              "displayName": "MSSV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Họ và Tên",
              "displayName": "Họ và Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        -540
      ],
      "id": "f5a5cf61-4360-4b67-b6a9-812d4c700730",
      "name": "Google Sheets1",
      "credentials": {
        "googleApi": {
          "id": "jrnmCX9iSYKgqCVP",
          "name": "serviceAccount"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tKKYwmJgCLiWYTZdfHMUzHLK7LczHbkVJPfnSmQ3Qmg",
          "mode": "list",
          "cachedResultName": "Thông tin sinh viên chưa có ID Zalo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKKYwmJgCLiWYTZdfHMUzHLK7LczHbkVJPfnSmQ3Qmg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1147988919,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tKKYwmJgCLiWYTZdfHMUzHLK7LczHbkVJPfnSmQ3Qmg/edit#gid=1147988919"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Họ tên Giảng viên": "={{ $json.giangVien }}",
            "Mã lớp": "={{ $json.maLop }}",
            "Giờ submit": "={{ $json.thoiGianHienTai }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Họ tên Giảng viên",
              "displayName": "Họ tên Giảng viên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mã lớp",
              "displayName": "Mã lớp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ submit",
              "displayName": "Giờ submit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        -620
      ],
      "id": "9703e36c-ac9a-4caa-b631-ec048fc62fe4",
      "name": "Google Sheets2",
      "credentials": {
        "googleApi": {
          "id": "jrnmCX9iSYKgqCVP",
          "name": "serviceAccount"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(item => item.json);\n\nlet maLop = '';\nlet giangVien = '';\n\n// Lấy thời gian hiện tại +7 giờ (GMT+7)\nconst now = new Date();\nconst vietnamTime = new Date(now.getTime() + 7 * 60 * 60 * 1000);\nconst thoiGianHienTai = vietnamTime.toLocaleString('vi-VN');\n\n// Tìm dòng có mã lớp\nconst maLopItem = data.find(item => item.__EMPTY && item.__EMPTY.startsWith('Mã số sinh viên:'));\nif (maLopItem) {\n  maLop = maLopItem.__EMPTY.replace('Mã số sinh viên: ', '');\n}\n\n// Tìm dòng có tên giảng viên\nconst giangVienItem = data.find(item => item.__EMPTY && item.__EMPTY.startsWith('Giảng viên:'));\nif (giangVienItem) {\n  giangVien = giangVienItem.__EMPTY.replace('Giảng viên: ', '');\n}\n\nreturn [\n  {\n    json: {\n      maLop,\n      giangVien,\n      thoiGianHienTai\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        -660
      ],
      "id": "95da594c-1635-4380-a0ad-a5562c8d4e42",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zalo Send Message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Zalo Send Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f0c06fd-fdbc-4493-83f9-4e1f9475e6d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc8021218435b486ef7b53fee178d394950410d528a66a665743202f9e194941"
  },
  "id": "ycEoFr5BxW4O6bZA",
  "tags": []
}